
nfig name="dws-development">
    <server name="dws-test-server">
      <ipv4>
        <port>8001</port>
      </ipv4>
      <backingstore>
        <host>
          <ipv4>
            <address>127.0.0.1</address>
            <port>8002</port>
          </ipv4>
        </host>
      </backingstore>
    </server>
    <backingstore name="DWS Development BTRFS Backing-Store">
      <host>
        <ipv4>
          <port>8002</port>
        </ipv4>
      </host>
      <path></path>
      <type>btrfs</type>
    </backingstore>
  </config>
</xml>

